<% include partials/header.ejs %>

<div class="container">
    <h1><a href="/">Client management System</a></h1>
    <hr>
    <div class="row">
        <div class="col-md-6">
            <h3><a href="/">Clients</a></h3>
            <br>
            <table class="table table-striped">
                <tr>
                    <th>Firstname</th>
                    <th>Lastname</th>
                    <th>Email</th>
                </tr>
                <tr>
                    <td>
                        <%= user.first_name %>
                    </td>
                    <td>
                        <%= user.last_name %>
                    </td>
                    <td>
                        <%= user.email %>
                    </td>
                </tr>
            </table>
        </div>
        <div class="border-right col-md-1">
        </div>
        <div class="col-md-4">
            <h3>
                <%= title %>
            </h3>

            <!-- Error Message -->
            <% if(errors){ %>
            <ul>
                <% errors.forEach(function(error){ %>
                <div class="alert alert-warning">
                    <li>
                        <%= error.msg %>
                    </li>
                </div>
                <% }) %>
            </ul>
            <% } %>

            <!-- Client Add Form -->
            <form action="/user/edit/<%= user._id %>" method="POST">
                <div class="form-group">
                    <label>Firstname:</label>
                    <input type="text" class="form-control col-md-9" name="first_name" value=<%=user.first_name %>>
                </div>
                <div class="form-group">
                    <label>Lastname:</label>
                    <input type="text" class="form-control col-md-9" name="last_name" value=<%=user.last_name %>>
                </div>
                <div class="form-group">
                    <label>Email:</label>
                    <input type="email" class="form-control col-md-9" name="email" value=<%=user.email %>>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
    <% include partials/footer.ejs %>